CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles
build/*
*.o
*.a
*.s
*.l
game
*.exe
aclocal.m4
autom4te.cache
configure
compile
install-sh
missing
Makefile.in
config.log
config.status
confdefs.h
configure~
depcomp
.deps
*.wasm
src/game.html
src/game.js
*.log
game.worker.js
*.la
libtool
ltmain.sh
.libs
*.lo
.deps
.dirstamp
config.sub
config.guess
a.wasm
a.worker.js
confdefs*
conftest*
node_modules
!build/.gitkeep
wasm-build/*
!wasm-build/.gitkeep
