[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	ignore = all

[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
	ignore = all
